#app_header
  #app_header_label
    Web App

#scroll_container

#templates
  .scroller_red.featured
  .scroller_orange.entry
  .scroller_yellow.entry
  .scroller_green.entry
  .scroller_purple.entry
  .scroller_blue.movie

